/* 
font-family: 'Inter', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'Montserrat', sans-serif;
 */
a {
  text-decoration: none;
}

* {
  outline: none;
}

button {
  border: none;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 30px;
  color: #000000;
  background: #FFFFFF;
}

.headerTop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/banner.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #DCF3FF;
  background-size: auto;
  height: 97px;
  width: 100%;
  position: relative;
}

.header-navigation {
  display: flex;
  align-items: center;
  position: absolute;
  top: 27px;
  transform: translateX(78%);
}

.header-navigation li {
  padding: 0 15px;
}

.header-navigation li a {
  color: #296599;
  text-align: center;
  font-family: 'Jost', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.5s;
}

.logo-header {
  position: absolute;
  top: 27px;
  transform: translateX(-292%);
}

.header-navigation li a:hover {
  color: #FEB300;
}

.headerBottom {
  height: 111px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #DCF3FF;
  position: relative;
}

.headerBottomContent h1 {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
  color: #296599;
}

.footerContact {
  width: 215px;
}

.footerContact p {
  color: #FFF;
  height: 30px;
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 104.9%;
}

.headerBottomContent p {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #296599;
}

.footerContact ul li {
  margin-bottom: 12px;
}

.footerContact ul li:nth-last-of-type(1) {
  margin-bottom: 0;
}

.footerContact ul li a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footerContact ul li a span {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.5px;
  text-decoration: none;
}

.footerTop {
  justify-content: space-between;
}

.headerBottomIcon {
  display: flex;
  align-items: flex-end;
}

.headerBottomIcon {
  position: absolute;
  left: 30%;
  top: 10%;
}

.headerBottom:after {
  content: "";
  background: url(../img/icon3.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 65px;
  height: 18px;
  position: absolute;
  top: 30%;
  left: 23%;
}

.headerBottom:before {
  content: "";
  background: url(../img/icon3.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 65px;
  height: 18px;
  transform: rotate(180deg);
  position: absolute;
  top: 60%;
  right: 25%;
}

.banner {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: flex-start;
  max-width: 1120px;
  margin: 0 auto 35px auto;
}

.mainLeftContent {
  width: 770px;
  margin-right: 20px;
}

.maingRightContent {
  width: 330px;
}

.card {
  display: flex;
  position: relative;
  height: 205px;
  border-width: 2px;
  width: 100%;
  margin-bottom: 25px;
  border-radius: 30px 5px 5px 5px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background: rgb(62, 243, 255);
  background: linear-gradient(0deg, rgba(62, 243, 255, 1) 0%, rgba(170, 189, 255, 1) 55%, rgba(41, 101, 153, 1) 100%);
  z-index: 1;
}

.cardCenter {
  width: 400px;
  margin-top: 6px;
}

.cardCenterContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  background: #F8F7F7;
  padding: 8px 20px 30px 8px;
  box-sizing: border-box;
  height: 147px;
  border-radius: 0 0 5px 5px;
}

.cardLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 185px;
  box-sizing: border-box;
}

.cardLeft img {
  width: 100%;
  height: 69px;
  object-fit: cover;
}


.cardCenterText h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 10px;
}

.cardCenterContentBlockImg {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.cardCenterText p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.cardCenterContentBlock {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.cardCenterText {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}

.cardRight {
  width: 175px;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  box-sizing: border-box;
  align-items: center;
}

.cardRightFlex>p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 120.02%;
  text-align: center;
  color: #000000;
  width: 32px;
  height: 32px;
  background: #FFBA52;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.starContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.starContainer>p {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-top: -10px;
}

.starContainer>img {
  width: 67px;
  height: 14.07px;
}

.cardRight button {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 99.02%;
  text-align: center;
  color: #000000;
  box-sizing: border-box;
  width: 151px;
  height: 92px;
  background: #FEB300;
  border: 2px solid #296599;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 11px;
  transition: all 0.3s;
}

.cardRight button:hover {
  transition: all 0.3s;
  background: #F97E0D;
  border: 2px solid #296599;
  border-radius: 15px;
}

.cardRight button:active {
  transition: all 0.3s;
  background: #FEB300;
  border: 2px solid #296599;
  border-radius: 15px;
}

.mainLeftContentBottomText {
  margin-top: 24px;
  font-weight: 600;
  font-size: 10px;
  line-height: 18px;
  color: #000000;
  padding-left: 20px;
  width: 83%;
}


.cardCenterTop {
  height: 38px;
}

.cardCenterTop img {
  width: 100%;
  height: 100%;
}

.card::before {
  content: "";
  position: absolute;
  top: 2%;
  left: 0.5%;
  right: 0.5%;
  bottom: 1%;
  border-radius: 30px 5px 5px 5px;
  z-index: -1;
  width: 99%;
  height: 96%;
  background: #fff;
}

.maingRightContentSection {
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 33px 29px 35px 20px;
  box-sizing: border-box;
}

.maingRightContentSection h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 14px;
  position: relative;
  z-index: 2;
}

.mainLeftContentBottomText b {
  text-transform: uppercase;
}

.maingRightContentSection p {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}

.card:nth-last-of-type(1) {
  margin-bottom: 0;
}

/* стилизация бегунка в Chrome и Safari */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #296599;
}

/* стилизация бегунка в Firefox */
input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #296599;
}

/* стилизация дорожки в Chrome и Safari */
input[type=range]::-webkit-slider-runnable-track {
  height: 4px;
  background-color: #ccc;
  border-radius: 2px;
}

/* стилизация дорожки в Firefox */
input[type=range]::-moz-range-track {
  height: 4px;
  background-color: #ccc;
  border-radius: 2px;
}

input[type=range] {
  -webkit-appearance: none;
  /* Убираем стандартный вид ползунка */
  width: 100%;
  /* Ширина ползунка */
  height: 8px;
  /* Высота ползунка */
  margin: 10px 0;
  /* Отступ сверху и снизу */
  background-color: #ddd;
  /* Цвет фона */
}

/* Полоса пройденного пути */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background-color: #296599;
  /* Цвет пройденного пути */
}

/* Ползунок */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  /* Ширина ползунка */
  height: 20px;
  /* Высота ползунка */
  border-radius: 50%;
  /* Задаем круглую форму */
  background-color: #296599;
  /* Цвет ползунка */
  margin-top: -8px;
  /* Выравнивание по вертикали */
  cursor: pointer;
}

/* Полоса непройденного пути */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  background-color: #ddd;
}

/* Полоса пройденного пути */
input[type=range]::-moz-range-progress {
  height: 8px;
  background-color: #296599;
  /* Цвет пройденного пути */
}

/* Ползунок */
input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  margin-top: -6px;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 4px;
  background: linear-gradient(to right, #296599 0%, #296599 calc((var(--value) - var(--min)) / (var(--max) - var(--min)) * 100%), #A3A3A3 calc((var(--value) - var(--min)) / (var(--max) - var(--min)) * 100% + 1px), #A3A3A3 100%);
  border-radius: 2px;
}

.maingRightContentSection form {
  width: 280px;
}

.maingRightContentSection form>p {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 23px;
}

#demo {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  width: 20px;
  height: 19px;
  background: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 1px;
  display: flex;
  position: relative;
}

input[type="checkbox"]+label::before {
  content: "";
}

input[type="checkbox"]:checked+label::before {
  background: url(../img/like.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 22px;
  height: 17px;
  position: absolute;
  top: 0;
  left: 0;
}

.checkboxBlock {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.checkboxBlock:nth-last-of-type(1) {
  margin-bottom: 0;
}

.checkboxBlock p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-left: 7px;
}

.maingRightContentSection form button {
  font-family: 'Inter', sans-serif;
  margin-top: 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 120.02%;
  text-align: center;
  color: #000000;
  width: 100%;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #FEB300;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.maingRightContentSection {
  position: relative;
  overflow: hidden;
}

.maingRightContentSection:nth-of-type(1)::after {
  content: "";
  background: url(../img/maingRightContentSection.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 269px;
  height: 281px;
  position: absolute;
  right: -50px;
  top: 0;
  z-index: 0;
}

.maingRightContentSection form {
  position: relative;
  z-index: 1;
}

.maingRightContentSection:nth-of-type(2) {
  padding: 32px 5px 34px 5px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 5px solid #FF7474;
  border-radius: 5px;
}

.maingRightContentSectionTop {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 295px;
  margin: 0 auto;
}

.maingRightContentSectionTop>div p {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #296599;
}

.maingRightContentSectionTop>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maingRightContentSection>p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
  margin-top: 11px;
}

.maingRightContentSectionTopLeftImg {
  height: 22px;
  object-fit: contain;
  margin-bottom: 10px;
}

.maingRightContentSectionTopRightImg {
  height: 22px;
  object-fit: contain;
  margin-bottom: 10px;
}

.maingRightContentSection:nth-of-type(3) {
  padding: 39px 19px 42px 20px;
  box-sizing: border-box;
}

.maingRightContentSection:nth-of-type(3) h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 25px;
}

.maingRightContentSectionContent {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.maingRightContentSectionContent div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
  background: #DCF3FF;
  border-radius: 2px;
  margin-right: 18px;
  height: 28px;
  margin-bottom: 20px;
}

.maingRightContentSectionContent div:nth-of-type(1),
.maingRightContentSectionContent div:nth-of-type(4) {
  width: 64px;
  margin-right: 18px;
}

.maingRightContentSectionContent div:nth-of-type(2),
.maingRightContentSectionContent div:nth-of-type(5) {
  width: 90px;
  margin-right: 18px;
}

.maingRightContentSectionContent div:nth-of-type(3),
.maingRightContentSectionContent div:nth-of-type(6) {
  width: 100px;
  margin-right: 0;
}

.maingRightContentSection:nth-of-type(3) h3:nth-of-type(2) {
  margin-top: 12px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.maingRightContentSectionContent2 div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
  background: #DCF3FF;
  border-radius: 2px;
  margin-right: 15px;
  height: 28px;
  margin-bottom: 18px;
  padding: 0 20px;
  width: max-content;
}

.maingRightContentSectionContent2 div :nth-of-type(2) {
  margin-bottom: 0;
}

.instruction {
  padding: 66px 0 0 0;
  background: #DCF3FF;
  border-radius: 50px;
  margin: 0 53px;
}

.instruction .wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding-bottom: 66px;
}

.instruction .wrapper h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}

.instructionContainer {
  width: 832px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto 36px auto;
}

.instructionBlock {
  width: 242px;
}

.number {
  width: 70px;
  height: 70px;
  background: #296599;
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 25px;
}

.instructionBlock h3 {
  font-weight: 600;
  font-size: 12px;
  line-height: 30px;
  color: #000000;
}

.instructionBlock>P {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #000000;
}

.instruction .wrapper button {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 120.02%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #FEB300;
  border-radius: 5px;
  width: 248px;
  margin: 0 auto;
  height: 38px;
}

.instruction .wrapper {
  background: url(../img/instruction.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.content {
  max-width: 1160px;
  margin: 0 auto;
  padding: 60px 0 50px 0;
}

.content h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 15px;
}

.contentText {
  font-weight: 500;
  font-size: 13px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 40px;
}

.contentTextColum {
  display: flex;
  margin-bottom: 40px;
}

.contentTextColumLeft {
  width: 45%;
  margin-right: 33px;
}

.contentTextColumRight {
  width: 55%;
}

footer {
  background: #296599;
  border-radius: 15px 15px 0 0;
  padding: 44px 80px;
}

footer .wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.footerTop {
  display: flex;
  align-items: center;
}

.footerLogo {
  display: flex;
  align-items: center;
}

.footerLogo p {
  font-weight: 400;
  font-size: 11px;
  line-height: 104.9%;
  color: #FFFFFF;
  margin-left: 27px;
}

.footerLogo a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 48.21px;
  background: #FFFFFF;
  padding: 5px;
}

.footerLogoSocial {
  margin-left: auto;
}

.footerLogoSocial p {
  font-weight: 700;
  font-size: 11px;
  line-height: 104.9%;
  color: #FFFFFF;
  margin-bottom: 7px;
}

.footerLogoSocialFlex {
  display: flex;
  align-items: center;
}

.footerLogoSocialFlex a:nth-of-type(1) {
  margin-right: 16px;
}

.footerLogo a img {
  object-fit: contain;
  margin-top: 7px;
}

.footerTopCard {
  margin-left: 133px;
}

.footerTopCard img:nth-of-type(1) {
  margin-right: 12px;
}

.footerTop {
  padding-bottom: 53px;
  border-bottom: 2px solid #FFE8E8;
  margin-bottom: 24px;
}

.footerBottom p {
  font-weight: 400;
  font-size: 9px;
  line-height: 104.9%;
  color: #75B8F1;
  margin-bottom: 15px;
}

.footerBottom button {
  font-weight: 400;
  font-size: 11px;
  line-height: 104.9%;
  text-align: center;
  color: #75B8F1;
  width: 210px;
  height: 30px;
  background: #2F7FC5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Promocode {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 75px;
  height: 20px;
  background: #F9FC6B;
  border: 1px solid #FCB96B;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  box-sizing: border-box;
  position: absolute;
  left: 15px;
  z-index: 2;
  top: -10px;
}

.Promotion {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 48px;
  height: 20px;
  background: #FC6B6C;
  border: 1px solid #D85B5A;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  box-sizing: border-box;
  position: absolute;
  left: 15px;
  z-index: 2;
  top: -10px;
}

.maingRightContentSection:nth-of-type(1)::after {
  padding-right: 0;
  right: -78px;
}

.footerFlex {
  display: flex;
  align-items: center;
}


.cardRightFlex {
  display: flex;
  align-items: center;
}

.maingRightContentSectionTop img {
  width: 65px;
}

.maingRightContentSectionCard {
  display: none;
}

.maingRightContentSectionTop1 {
  width: 34px;
  height: 34px;
  margin-bottom: 5px;
}

.popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #DCF3FF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: none;
}

.popup.show {
  display: block;
}

.sums {
  text-align: left !important;
}

.popup-content {

  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
}

.popup-content p {
  text-align: left;
  line-height: 130%;
  padding-right: 20px;
}

.close-btn {
  background: #296599;
  color: #DCF3FF;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.modalWindow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalWindow.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}

.modalWindowContent {
  padding: 83px 0 97px 0;
  width: 838px;
  height: 462px;
  background: #FFFFFF;
  border-radius: 20px;
  transition: 0.5s all;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.popupScrollCloses {
  width: 72px;
  height: 72px;
  background: #DCF3FF;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popupScroll {
  width: 332px;
  height: 100%;
  margin: 0 auto;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}

.close-popup {
  cursor: pointer;
}

.modalForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalForm h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #296599;
  margin-bottom: 30px;
  margin-top: 30px
}

.modalForm.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}

.modalFormContent {
  background: #FFFFFF;
  border-radius: 5px;
  padding: 30px 20px;
  width: 300px;
  transition: 0.5s all;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.modalFormContent-close {
  position: absolute;
  top: 16px;
  right: 16px;
}

.modalFormRecap {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
}

.modalFormRecap img {
  width: 100%;
  object-fit: unset;
  max-width: 100%;
  height: 100%;
}

.modalWindowContent h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-bottom: 15px;
  margin-top: 0
}

.modalWindowContent p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
  margin-bottom: 24px;
}

.popupScroll form {
  width: 314px;
}

.modalFormContainer form input {
  width: 100%;
  background: #FFFFFF;
  border: 2px solid #CEDEFB;
  border-radius: 4px;
  height: auto;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px 20px;
}

.modalWindowContent form input {
  width: 100%;
  background: #F9F9F9;
  border: 2px solid #F0F0F0;
  border-radius: 10px;
  height: 50px;
  box-sizing: border-box;
  padding: 10px 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 7px;
}

.modalFormRecap {
  background: #F9F9F9;
  height: 46px;
}

.modalWindowContent form input::placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.viber {
  display: flex;
  width: 25px;
  height: 28px;
}

.viber img {
  width: 100%;
  object-fit: contain;
  height: 100%;
  max-width: 100%;
}

.body.active {
  overflow: hidden;
}

.modalFormSubmit {
  background: #296599 !important;
  color: #DCF3FF !important;
  border: none !important;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  height: auto;
  box-sizing: border-box;
}

.recapcha {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
}

.jq-star {
  width: 14px !important;
  height: 14px !important;
  position: relative;
}

.jq-star-svg {
  position: absolute;
  width: 14px !important;
  height: 14px !important;
  padding: 0;
}

.recapcha {
  background: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recapcha img {
  width: auto;
  height: 100%;
  max-width: 100%;
}

.close-popup2 {
  cursor: pointer;
}

.inputSub {
  background: #FEB300 !important;
  border: 2px solid #296599 !important;
  border-radius: 10px !important;
  cursor: pointer;
  width: 100% !important;
  height: 50px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-family: 'Inter' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 120.02% !important;
  color: #000000 !important;
}

.instructionBlockText p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  color: #000000;
}

.politic {
  margin-top: 34px;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  color: #FFFFFF;
}

.politic b {
  font-weight: 600;
}

.politic a {
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: underline;
}

.footerTop {
  flex-direction: row;
}

.footerFlex {
  align-items: flex-start;
}

.footerTopCard img:nth-last-of-type(1) {
  margin-top: 0;
}

.popupScroll2 {
  display: none;
}

.popupScroll2.active {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popupScroll.active {
  display: none;
}

.popupScrollForm.active {
  display: none;
}

.popupScroll2Form.active {
  display: flex !important;
}

.politicModalclose {
  z-index: 150;
}

.politicModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.politicModal.active {
  display: flex !important;
}

#politicModal .modalWindowContent {
  padding-bottom: 50px;
}

.politicModal h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #296599;
  margin-bottom: 30px;
  margin-top: 30px
}

.politicScroll {
  height: 100%;
  overflow: scroll;
  padding-right: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  color: #000000;
}

.politicScrollText {
  padding: 0 50px;
  height: 100%;
}

.politicScroll b {
  font-weight: 600;
}

.maingRightContentSection {
  border-radius: 20px;
}

.burger-icon {
  width: 58px;
  height: 46px;
  border-radius: 10px;
  background: #D2EFFF;
  box-shadow: -3px 5px 7px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  display: none;
  margin-left: auto;
  margin-right: 32px;
}

.bar {
  width: 34px;
  height: 5px;
  background-color: #296599;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 5px;
}

.bar:nth-last-of-type(1) {
  margin-bottom: 0;
}

.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 101, 153, 0.50);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  transform: translateY(-100%);
  padding: 90px 10px 0 0;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}

.burger-menu.open {
  transform: translateY(0);
}

.burger-menu-container {
  max-width: 325px;
  height: 200px;
  border-radius: 10px;
  background: #FFF;
  padding: 24px 34px 20px 41px;
  box-sizing: border-box;
  position: relative;
}

.burger-menu-container::after {
  content: "";
  background: url(../img/Vector-burger.svg);
  background-repeat: no-repeat;
  background-size: auto;
  width: 47px;
  height: 18px;
  position: absolute;
  top: -16px;
  right: 27px;
  transform: rotate(-3deg);
}

.burger-menu-nav li {
  height: 39px;
  display: flex;
  align-items: center;
}

.burger-menu-nav {
  width: 214px;
}

.burger-menu-nav li a {
  color: #296599;
  font-family: 'Jost', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.5s;
}

.burger-menu-nav li a:hover {
  transition: all 0.5s;
  color: #FEB300;
}

.close-button-style {
  display: flex;
  align-items: center;
  color: #296599;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 16px;
  margin-left: auto;
  gap: 5px;
}

.mainLeftContentBlog h2 {
  color: #000;
  font-family: 'Montserrat';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 34px;
}

.mainLeftContentBlogContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}

.mainLeftContentBlogCard {
  width: 48%;
  height: 479px;
  border-radius: 25px;
  overflow: hidden;
  background: #FFF;
  box-shadow: -4px 7px 21px 4px rgba(0, 0, 0, 0.10);
}

.mainLeftContentBlogCardImg {
  height: 226px;
}

.mainLeftContentBlogCardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainLeftContentBlogCardContent {
  padding: 17px 16px 30px 16px;
  box-sizing: border-box;
}

.mainLeftContentBlogCardContent h2 {
  color: #000;
  font-family: 'Montserrat';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 14px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  min-height: 58px;
}

.mainLeftContentBlogCardText {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-bottom: 30px;
  color: #000;
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mainLeftContentBlogCardContent a {
  width: 275.169px;
  height: 42.619px;
  border-radius: 5px;
  border: 1px solid #FEB300;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120.023%;
  margin: 0 auto;
}

.bannerBlog {
  margin-bottom: 120px !important;
  padding-bottom: 0;
}

.mainLeftContentBlog {
  margin-right: 37px;
}

.mainArticleImg {
  height: 398px;
  margin-bottom: 25px;
  overflow: hidden;
  border-radius: 25px;
}

.mainArticleImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainArticleContent h3 {
  color: #000;
  font-size: 24px;
  font-family: 'Montserrat';
  font-weight: 600;
  margin-bottom: 12px;
}

.mainArticleText {
  color: #000;
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 30px;
}

.mainArticleText b {
  font-weight: 700;
}

.mainArticleContent a {
  width: 280px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #FEB300;
  background: #FFF;
  color: #000;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120.023%;
}

.bannerBlog {
  padding-top: 40px;
}



































































@media (min-width: 1900px) {
  .headerTop {
    background-size: cover;
  }

  .logo-header {
    left: 27%;
    transform: translateX(-42%);
  }

  .header-navigation {
    transform: translateX(78%);
    right: 38%;
  }
}

@media (max-width: 1279px) {
  .mainLeftContent {
    width: 688px;
    margin-right: 0;
  }

  .headerTop>.header-navigation {
    display: none;
  }

  .headerTop {
    background-position: 26%;
    background-size: cover;
  }

  .footerTop {
    flex-direction: column;
  }

  .footerLogo {
    margin-bottom: 30px;
  }

  .footerContact {
    margin-bottom: 24px;
  }

  .burger-icon {
    display: flex;
  }

  .banner {
    max-width: 688px;
    margin: 0 auto;
  }

  .maingRightContent {
    display: none;
  }

  .card {
    flex-direction: column;
    height: 400px;
  }

  .cardLeft {
    width: 290px;
    height: 122px;
    margin-right: 42px;
    margin-bottom: 27px;
    margin-top: 35px;
  }

  .cardCenterTop {
    height: 57px;
    width: 656px;
    margin: 0 auto;
  }

  .cardCenter {
    width: 100%;
  }

  .cardRight button {
    width: 100%;
    height: 75px;
  }

  .cardRight button br {
    display: none;
  }

  .cardRight {
    width: 280px;
  }

  .cardCenterContent {
    width: 656px;
    margin: 0 auto;
    height: 132px;
    padding: 35px 35px 41px 35px;
  }

  .cardCenterContentBlockImg {
    margin-bottom: 0;
    width: 55px;
    height: 55px;
    margin-right: 26px;
  }

  .cardRight {
    position: absolute;
    top: 29px;
    right: 39px;
  }

  .starContainer>span {
    width: 142px;
    display: flex;
  }

  .card::before {
    left: 1%;
    right: 1%;
    width: 98%;
  }

  .instruction {
    max-width: 688px;
    height: 580px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 0;
  }

  .instruction .wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 107px 63px 98px 59px;
    background-size: auto;
    background-position: -100px 190px;
  }

  .instructionBlock h3 {
    font-size: 12px;
  }

  .instructionBlock {
    width: 30%;
  }

  .instructionContainer {
    width: 100%;
  }

  .mainLeftContentBottomText {
    width: 100%;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .jq-star {
    width: 28px !important;
    height: 28px !important;
  }

  .jq-star svg {
    width: 28px !important;
    height: 28px !important;
  }

  .cardRightFlex>p {
    width: 40px;
    height: 40px;
    font-size: 12px;
    line-height: 120.02%;
  }

  .starContainer>p {
    margin-left: 8px;
  }

  .cardRight {
    padding-top: 0;
  }

  .starContainer>p {
    margin-top: 0;
  }

  .cardRightFlex {
    margin-bottom: 23px;
  }

  .starContainer {
    flex-direction: row;
    align-items: center;
  }

  .cardCenterContentBlock {
    flex-direction: row;
  }

  .instruction .wrapper button {
    font-size: 18px;
    line-height: 120.02%;
    width: 280px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #FEB300;
    border-radius: 5px;
  }

  .content {
    max-width: 646px;
    margin: 0 auto;
  }

  footer .wrapper {
    max-width: 650px;
  }

  .footerFlex {
    flex-direction: row;
    width: 100%;
    align-items: center;
  }

  .footerLogoSocial {
    margin-bottom: 57px;
  }

  .footerLogoSocial p {
    font-size: 12px;
    line-height: 104.9%;
    margin-bottom: 18px;
  }

  .footerLogoSocial {
    margin-right: 40px;
  }

  .footerLogoSocial {
    margin-bottom: 0;
  }

  .footerTop {
    align-items: flex-start;
    width: 100%;
    padding-bottom: 39px;
    margin-bottom: 44px;
  }

  .footerTopCard {
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .footerTopCard {
    width: 100%;
  }

  .headerBottom:before {
    right: 30px;
  }

  .headerBottom::after {
    left: 30px;
  }

  .cardRight button {
    margin-top: 0;
  }

  .modalWindowContent {
    width: 90%;
  }

  .card {
    border-radius: 75px 5px 5px 5px;
  }

  .card::before {
    border-radius: 75px 5px 5px 5px;
    left: 0.75%;
    right: 0.75%;
    width: 98.5%;
    height: 98%;
    top: 1%;
  }

  .banner {
    margin-bottom: 35px;
  }

  .content {
    padding-bottom: 10px;
  }

  .logo-header {
    left: 22%;
    transform: unset;
  }
}

@media (max-width: 767px) {
  .card {
    width: 382px;
    height: 460px;
    padding-top: 15px;
    box-sizing: border-box;
  }

  .logo-header {
    width: 124.55px;
    height: 37.127px;
    top: 17px;
    left: calc(23% - 25px);
  }

  .mainArticleImg {
    height: 200px;
  }

  .logo-header a {
    width: 100%;
    height: 100%;
  }

  .logo-header a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .burger-menu {
    padding: 76px 10px 0 0;
  }

  .cardRight button {
    height: 62px;
  }

  .cardCenterTop {
    width: 364px;
    height: 39px;
  }

  .cardRight {
    top: 93px;
  }

  .cardCenter {
    margin-top: 95px;
  }

  .cardRightFlex>p {
    margin-right: 20px;
  }

  .jq-star {
    width: 26px !important;
    height: 26px !important;
  }

  .headerBottomContent h1 {
    font-size: 20px;
  }

  .headerBottomContent p {
    font-size: 12px;
  }

  .contentTextColumRight br {
    display: none;
  }

  .footerLogo {
    margin-bottom: 31px;
  }

  .footerLogoSocial p {
    width: 70%;
    margin-bottom: 12px;
  }

  .footerFlex {
    flex-direction: row;
  }

  .footerLogoSocial {
    margin-left: 0;
    width: 100%;
  }

  .footerFlex {
    width: 100%;
  }

  .footerTop {
    flex-direction: column;
  }

  footer {
    padding: 39px 0;
  }

  footer .wrapper {
    max-width: 382px;
  }

  .instructionContainer {
    margin-bottom: 20px;
  }

  .contentTextColumRight {
    width: 100%;
    margin-top: 20px;
  }

  .contentTextColumRight b {
    font-weight: 600;
  }

  .contentText {
    margin-bottom: 20px;
  }

  .contentTextColumLeft b {
    font-weight: 600;
  }

  .contentTextColum {
    flex-direction: column;
  }

  .contentTextColumLeft {
    width: 100%;
    margin-right: 0;
  }

  .footerTopCard {
    width: 50%;
  }

  .politic {
    margin-top: 27px;
    line-height: 140%;
    width: 90%;
  }

  .footerBottom p {
    width: 70%;
    margin-bottom: 5px;
  }

  .contentText:nth-last-of-type(1) {
    margin-bottom: 0;
  }

  .content {
    padding-bottom: 80px;
  }

  .footerTop {
    padding-bottom: 29px;
    margin-bottom: 34px;
  }

  .footerTopCard img:nth-last-of-type(1) {
    margin-bottom: -7px;
  }

  .footerTopCard {
    align-items: flex-end;
  }

  .footerFlex {
    align-items: center;
  }

  .footerLogoSocial {
    margin-bottom: 0;
  }

  .content {
    max-width: 371px;
  }

  .contentText {
    font-size: 12px;
  }

  .instruction {
    max-width: 100%;
    width: 382px;
    height: 680px;
    border-radius: 40px;
  }

  .instructionBlock {
    margin-bottom: 50px;
  }

  .number {
    min-width: 70px;
    min-height: 70px;
    margin-right: 21px;
    margin-bottom: 0;
  }

  .instructionBlock {
    width: 100%;
    display: flex;
  }

  .instructionContainer {
    flex-direction: column;
  }

  .instruction .wrapper {
    padding: 67px 10px 94px 10px;
  }

  .headerBottom {
    overflow: hidden;
  }

  .mainLeftContentBottomText {
    margin-top: 28px;
    padding: 0;
  }

  .headerBottom:before {
    right: -20px;
  }

  .headerBottom::after {
    left: -20px;
  }

  .jq-star svg {
    width: 26px !important;
    height: 26px !important;
  }

  .cardRightFlex {
    margin-right: auto;
    padding-left: 10px;
  }

  .mainLeftContent {
    width: 382px;
    margin: 0 auto;
  }

  .mainLeftContentBlogCardContent a {
    width: 100%;
  }

  .mainLeftContentBlog {
    width: 100%;
    padding: 0 18px;
    box-sizing: border-box;
  }

  .cardLeft {
    max-width: 300px;
    margin: 0 auto;
    align-items: baseline;
  }

  .cardLeft img {
    width: 100%;
    height: 60px;
  }

  .starContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .starContainer>p {
    margin-top: 3px;
  }

  .cardRight {
    right: 85px;
    top: 110px;
  }

  .cardRightFlex {
    margin-bottom: 15px;
  }

  .card::before {
    top: 1%;
    height: 98%;
  }

  .cardCenterContent {
    width: 364px;
    padding: 11px 12px 0 12px;
    height: 180px;
  }

  .cardCenterContentBlockImg {
    width: 40px;
    height: 40px;
    margin-bottom: 21px;
    margin-right: 0;
  }

  .cardCenterContentBlock {
    flex-direction: column;
  }

  .headerBottom {
    height: 70px;
  }

  h1 {
    font-size: 20px;
    line-height: 112%;
  }

  .headerTop {
    height: 72px;
  }

  .card {
    border-radius: 50px 5px 5px 5px;
  }

  .card::before {
    border-radius: 50px 5px 5px 5px;
  }

  .footerTopCard {
    justify-content: flex-end;
  }

  .bannerBlog {
    margin-bottom: 95px !important;
  }
}

@media (max-width: 576px) {
  .mainLeftContentBlogCard {
    width: 100%;
  }
}

@media (max-width: 412px) {
  .headerBottom:after {
    content: none;
  }

  .headerBottom:before {
    content: none;
  }

  .card {
    width: 300px;
  }

  .cardCenterTop {
    width: 279px;
  }

  .card {
    height: 530px;
  }

  .cardCenterContentBlock {
    width: 50%;
  }

  .cardCenterContent {
    width: 279px;
    flex-wrap: wrap;
    height: 266px;
  }

  .cardRight {
    right: 10px;
  }

  #politicModal .modalWindowContent {
    height: 462px;
    padding-bottom: 20px;
  }

  .politicScrollText {
    padding: 0;
  }

  .headerBottomContent h1 {
    font-size: 20px;
    line-height: 112%;
  }

  .footerTopCard {
    margin-bottom: -5px;
  }

  .footerLogoSocial p {
    width: 85%;
  }

  .footerLogo p {
    margin-left: 20px;
    font-size: 12px;
  }

  .footerLogo a img {
    width: 95px;
  }

  .instructionBlock:nth-last-of-type(1) {
    margin-bottom: 20px;
  }

  footer .wrapper {
    max-width: 300px;
  }

  .content {
    max-width: 280px;
  }

  .instructionBlock {
    margin-bottom: 46px;
  }

  .number {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
  }

  .instruction .wrapper {
    padding: 47px 10px 44px 10px;
  }

  .instruction {
    width: 300px;
    height: 630px;
  }

  .mainLeftContentBottomText {
    padding: 0 10px;
  }

  .cardCenter {
    margin-top: 78px;
  }

  .cardRight button {
    height: 45px;
  }

  .mainLeftContent {
    width: 300px;
  }

  .popupScrollCloses {
    width: 41px;
    height: 41px;
  }

  .popupScroll form {
    width: 100%;
  }

  .popupScroll2 {
    padding: 0 30px;
    box-sizing: border-box;
  }

  .popupScroll2>p {
    width: 100% !important;
  }

  .popupScroll2>p br {
    display: none;
  }

  .popupScroll {
    width: 90%;
  }

  .modalWindowContent p {
    width: 67%;
    margin: 0 auto 20px auto;
  }

  .modalWindowContent h2 {
    width: 50%;
    margin: 0 auto 15px auto !important;
  }

  .modalWindowContent {
    padding: 26px 15px 46px 15px;
  }

  .popupScrollCloses svg {
    width: 10.18px;
    height: 20px;
  }

  .modalWindowContent p {
    width: 80%;
  }

  .modalWindowContent {
    height: auto;
  }

  .modalWindowContent form input:nth-of-type(2) {
    margin-bottom: 0;
  }

  .modalFormContent-open {
    width: 262px;
    box-sizing: border-box;
    max-width: 262px;
    height: 58px;
  }

  .banner {
    padding-top: 19px;
  }

  .cardRight button {
    height: 58px;
  }

  .instruction .wrapper button {
    width: 243px;
  }

  .footerBottom p {
    width: 100%;
    font-size: 10px;
  }

  .footerLogo {
    padding: 0 10px;
  }

  .politic {
    line-height: 30px;
  }

  .modalWindowContent h2 {
    width: 100%;
  }

  .modalWindowContent p {
    width: 100%;
  }

  .cardCenterContent {
    height: 287px;
  }

  .card::before {
    top: 0.5%;
    height: 99%;
  }

  .cardLeft {
    height: 100px;
  }

  .popup-content {
    flex-direction: column;
  }

  .popup-content p {
    padding-right: 0;
    margin-bottom: 10px;
  }

  .mainLeftContentBlog {
    width: 100%;
  }
}